* text=auto !eol
/AUTHORS -text
CMake/BuildDocs.cmake -text
CMake/cmake_uninstall.cmake.in -text
CMake/copy_tex_sources.pl -text
CMake/tex_to_dvi.pl -text
/CMakeLists.txt -text
/ChangeLog -text
/INSTALL -text
/LICENSE -text
/NEWS -text
/README -text
/TODO -text
doc/doxygen.config.in -text
examples/CMakeLists.txt -text
examples/Makefile -text
examples/c/CMakeLists.txt -text
examples/c/groups.c -text
examples/c/simple.c -text
examples/cxx/CMakeLists.txt -text
examples/cxx/fibonacci.cpp -text
examples/other/fibonacci.cilk -text
examples/other/tbb_fibonacci.cpp -text
lib/CMakeLists.txt -text
lib/pfunc_c.cpp -text
lib/pfunc_pack.cpp -text
papers/CMakeLists.txt -text
papers/hipc/CMakeLists.txt -text
papers/hipc/IEEEtran.cls -text
papers/hipc/algorithm2e.sty -text
papers/hipc/dag-defs.tex -text
papers/hipc/dag.tex -text
papers/hipc/figs/Makefile -text
papers/hipc/figs/dag.eps -text
papers/hipc/figs/dag.fig -text
papers/hipc/figs/dag_memory.eps -text
papers/hipc/figs/dag_memory.perf -text
papers/hipc/figs/dag_speedup.eps -text
papers/hipc/figs/dag_speedup.perf -text
papers/hipc/figs/dataflow.dot -text
papers/hipc/figs/dataflow.eps -text
papers/hipc/figs/deadlock.eps -text
papers/hipc/figs/deadlock.fig -text
papers/hipc/figs/fib.eps -text
papers/hipc/figs/fib.fig -text
papers/hipc/figs/getmaxmem.sh -text
papers/hipc/figs/load_balance.eps -text
papers/hipc/figs/load_balance.perf -text
papers/hipc/figs/lu.eps -text
papers/hipc/figs/lu.fig -text
papers/hipc/figs/memory_g7jac200.eps -text
papers/hipc/figs/memory_g7jac200.plt -text
papers/hipc/figs/memory_numbers/cilk.g7jac200.dot.8 -text
papers/hipc/figs/memory_numbers/cilk.twotone.dot.8 -text
papers/hipc/figs/memory_numbers/omp.g7jac200.dot.8 -text
papers/hipc/figs/memory_numbers/omp.twotone.dot.8 -text
papers/hipc/figs/memory_numbers/pfunc_dag_data.g7jac200.dot.8 -text
papers/hipc/figs/memory_numbers/pfunc_dag_data.twotone.dot.8 -text
papers/hipc/figs/memory_numbers/pfunc_dag_heap.g7jac200.dot.8 -text
papers/hipc/figs/memory_numbers/pfunc_dag_heap.twotone.dot.8 -text
papers/hipc/figs/memory_numbers/pfunc_dag_heap_all.g7jac200.dot.8 -text
papers/hipc/figs/memory_numbers/pfunc_dag_heap_all.twotone.dot.8 -text
papers/hipc/figs/memory_numbers/tbb.g7jac200.dot.8 -text
papers/hipc/figs/memory_numbers/tbb.twotone.dot.8 -text
papers/hipc/figs/memory_twotone.eps -text
papers/hipc/figs/memory_twotone.plt -text
papers/hipc/figs/openmp.eps -text
papers/hipc/figs/stealing.dot -text
papers/hipc/figs/stealing.eps -text
papers/hipc/figs/stealing.fig -text
papers/hipc/refs.bib -text
papers/hipc/subfloat.sty -text
papers/parco/CMakeLists.txt -text
papers/parco/IOS-Book-Article.cls -text
papers/parco/figs/fim_8.eps -text
papers/parco/itemset-defs.tex -text
papers/parco/itemset.tex -text
papers/parco/presentation/ParCO-short.ppt -text
papers/parco/presentation/ParCO.pptx -text
papers/parco/refs.bib -text
papers/sc/CMakeLists.txt -text
papers/sc/cgresults/cg_10.eps -text
papers/sc/cgresults/cg_10.out -text
papers/sc/cgresults/cg_12.eps -text
papers/sc/cgresults/cg_12.out -text
papers/sc/cgresults/cg_2.eps -text
papers/sc/cgresults/cg_2.out -text
papers/sc/cgresults/cg_4.eps -text
papers/sc/cgresults/cg_4.out -text
papers/sc/cgresults/cg_6.eps -text
papers/sc/cgresults/cg_6.out -text
papers/sc/cgresults/cg_8.eps -text
papers/sc/cgresults/cg_8.out -text
papers/sc/cgresults/genstats.py -text
papers/sc/cgresults/parse.py -text
papers/sc/cgresults/results.txt -text
papers/sc/cplex-present/Makefile -text
papers/sc/cplex-present/figs/cg_8.pdf -text
papers/sc/cplex-present/figs/dag_memory.pdf -text
papers/sc/cplex-present/figs/dag_speedup.pdf -text
papers/sc/cplex-present/figs/fim_8.pdf -text
papers/sc/cplex-present/presentation.tex -text
papers/sc/dagresults/dag_memory.eps -text
papers/sc/dagresults/dag_memory.perf -text
papers/sc/dagresults/dag_speedup.eps -text
papers/sc/dagresults/dag_speedup.perf -text
papers/sc/figs/dag.dot -text
papers/sc/figs/dag.eps -text
papers/sc/figs/itemset.dot -text
papers/sc/figs/itemset.eps -text
papers/sc/figs/pfunc.dot -text
papers/sc/figs/pfunc.eps -text
papers/sc/figs/temp.dot -text
papers/sc/fimresults/fim_8.eps -text
papers/sc/fimresults/fim_8.out -text
papers/sc/fimresults/fim_8_dtlb.out -text
papers/sc/fimresults/fim_8_ipc.out -text
papers/sc/fimresults/fim_8_l1.out -text
papers/sc/fimresults/genstats.py -text
papers/sc/fimresults/parse.py -text
papers/sc/pfunc-defs.tex -text
papers/sc/pfunc.tex -text
papers/sc/refs.bib -text
papers/sc/sig-alternate.cls -text
papers/sc/template.txt -text
perf_tests/Makefile -text
perf_tests/cancel_threads.c -text
perf_tests/mutex_test.cpp -text
perf_tests/pfunc_barrier_time.cpp -text
perf_tests/rtc.c -text
perf_tests/thrdperf.c -text
perf_tests/virtual_fn_cost.cpp -text
pfunc/CMakeLists.txt -text
pfunc/asm/generic.h -text
pfunc/asm/ppc.h -text
pfunc/asm/windows.h -text
pfunc/asm/x86.h -text
pfunc/attribute.hpp -text
pfunc/barrier.hpp -text
pfunc/cilk.hpp -text
pfunc/cmake_tests/futex.cpp -text
pfunc/cmake_tests/sched_affinity.cpp -text
pfunc/cmake_tests/tls.cpp -text
pfunc/cond.hpp -text
pfunc/config.h.in -text
pfunc/environ.hpp -text
pfunc/event.hpp -text
pfunc/exception.hpp -text
pfunc/fifo.hpp -text
pfunc/futex.h -text
pfunc/generator.hpp -text
pfunc/group.hpp -text
pfunc/lifo.hpp -text
pfunc/mutex.hpp -text
pfunc/no_copy.hpp -text
pfunc/perf.hpp -text
pfunc/pfunc.h -text
pfunc/pfunc.hpp -text
pfunc/pfunc_atomics.h -text
pfunc/pfunc_common.h -text
pfunc/predicate.hpp -text
pfunc/prio.hpp -text
pfunc/scheduler.hpp -text
pfunc/task.hpp -text
pfunc/taskmgr.hpp -text
pfunc/thread.hpp -text
pfunc/trampolines.hpp -text
tutorial/CMakeLists.txt -text
tutorial/attribute.tex -text
tutorial/couriers.sty -text
tutorial/exception.tex -text
tutorial/fibonacci.tex -text
tutorial/figs/attributes.eps -text
tutorial/figs/functors.eps -text
tutorial/figs/group.eps -text
tutorial/figs/life-cycle.eps -text
tutorial/figs/organization.eps -text
tutorial/figs/overview.eps -text
tutorial/figs/pfunc.eps -text
tutorial/generate.tex -text
tutorial/group.tex -text
tutorial/initialize.tex -text
tutorial/introduction.tex -text
tutorial/opencl/Makefile -text
tutorial/opencl/figs/Makefile -text
tutorial/opencl/figs/host_program.fig -text
tutorial/opencl/figs/kernel.fig -text
tutorial/opencl/figs/memory.fig -text
tutorial/opencl/figs/platform.fig -text
tutorial/opencl/figs/work_groups.fig -text
tutorial/opencl/presentation.tex -text
tutorial/pack.tex -text
tutorial/perf.tex -text
tutorial/presentation/Makefile -text
tutorial/presentation/figs/attributes.eps -text
tutorial/presentation/figs/cg_8.eps -text
tutorial/presentation/figs/dag_memory.eps -text
tutorial/presentation/figs/dag_speedup.eps -text
tutorial/presentation/figs/fim_8.eps -text
tutorial/presentation/figs/functors.eps -text
tutorial/presentation/figs/group.eps -text
tutorial/presentation/figs/life-cycle.eps -text
tutorial/presentation/figs/organization.eps -text
tutorial/presentation/figs/overview.eps -text
tutorial/presentation/figs/pfunc.eps -text
tutorial/presentation/presentation.tex -text
tutorial/spawn.tex -text
tutorial/tutorial-defs.tex -text
tutorial/tutorial.tex -text
