* text=auto !eol
/CMakeLists.txt -text
/IEEEtran.cls -text
/algorithm2e.sty -text
/dag-defs.tex -text
/dag.tex -text
figs/Makefile -text
figs/dag.eps -text
figs/dag.fig -text
figs/dag_memory.eps -text
figs/dag_memory.perf -text
figs/dag_speedup.eps -text
figs/dag_speedup.perf -text
figs/dataflow.dot -text
figs/dataflow.eps -text
figs/deadlock.eps -text
figs/deadlock.fig -text
figs/fib.eps -text
figs/fib.fig -text
figs/getmaxmem.sh -text
figs/load_balance.eps -text
figs/load_balance.perf -text
figs/lu.eps -text
figs/lu.fig -text
figs/memory_g7jac200.eps -text
figs/memory_g7jac200.plt -text
figs/memory_numbers/cilk.g7jac200.dot.8 -text
figs/memory_numbers/cilk.twotone.dot.8 -text
figs/memory_numbers/omp.g7jac200.dot.8 -text
figs/memory_numbers/omp.twotone.dot.8 -text
figs/memory_numbers/pfunc_dag_data.g7jac200.dot.8 -text
figs/memory_numbers/pfunc_dag_data.twotone.dot.8 -text
figs/memory_numbers/pfunc_dag_heap.g7jac200.dot.8 -text
figs/memory_numbers/pfunc_dag_heap.twotone.dot.8 -text
figs/memory_numbers/pfunc_dag_heap_all.g7jac200.dot.8 -text
figs/memory_numbers/pfunc_dag_heap_all.twotone.dot.8 -text
figs/memory_numbers/tbb.g7jac200.dot.8 -text
figs/memory_numbers/tbb.twotone.dot.8 -text
figs/memory_twotone.eps -text
figs/memory_twotone.plt -text
figs/openmp.eps -text
figs/stealing.dot -text
figs/stealing.eps -text
figs/stealing.fig -text
/hipc-present.pptx -text
/refs.bib -text
/subfloat.sty -text
