* text=auto !eol
/CMakeLists.txt -text
asm/generic.h -text
asm/ppc.h -text
asm/win.h -text
asm/x86.h -text
/attribute.hpp -text
/barrier.hpp -text
/cilk.hpp -text
cmake_tests/futex.cpp -text
cmake_tests/inline.c -text
cmake_tests/sched_affinity.cpp -text
cmake_tests/tls.cpp -text
concepts/AdaptableCallableN.concept.ipp -text
concepts/ForExecutable.concept.ipp -text
concepts/Generator.concept.ipp -text
concepts/PFuncTask.concept.ipp -text
concepts/PartialOrder.concept.ipp -text
concepts/ReduceExecutable.concept.ipp -text
concepts/SchedulingPolicy.concept.ipp -text
concepts/Space.concept.ipp -text
concepts/TaskPredicate.concept.ipp -text
concepts/TaskQueueSet.concept.ipp -text
concepts/WhileExecutable.concept.ipp -text
/cond.hpp -text
/config.h.in -text
/environ.hpp -text
/event.hpp -text
/exception.hpp -text
/fifo.hpp -text
/futex.h -text
/generator.hpp -text
/group.hpp -text
/lifo.hpp -text
/mutex.hpp -text
/no_copy.hpp -text
/parallel_for.hpp -text
/parallel_reduce.hpp -text
/parallel_while.hpp -text
/perf.hpp -text
/pfunc.h -text
/pfunc.hpp -text
/pfunc_atomics.h -text
/pfunc_common.h -text
/predicate.hpp -text
/prio.hpp -text
/space_1D.hpp -text
/task.hpp -text
/task_queue_set.hpp -text
/taskmgr.hpp -text
/thread.hpp -text
/trampolines.hpp -text
/utility.h -text
